<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<%= @player_2_name %>: 60HP

<!-- <a href="/attack">Attack</a> -->
<!-- #this can be used if u wish to have a link instead of a button-->

<form action="/attack">
  <input type="submit" value="Attack">
</form>
